/* osoba-details */

.person-details {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .person-details h2 {
    color: #333;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .edit-button,
  .delete-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #007bff;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #bd2130;
  }

  .cwiczenia-osoby {
    display: flex;
    justify-content :space-between;
  }