.app {
  font-family: 'Arial', sans-serif;
}


.task-list {
  margin-bottom: 20px;
}

.task {
  background-color: #eef;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.task-name {
  margin-right: 20px;
}

button {
  margin-right: 10px;
  cursor: pointer;
  background-color: #cfc;
  border: none;
  padding: 5px 10px;
}

button:hover {
  background-color: #afa;
}

.completed-tasks {
  background-color: #cfc;
  padding: 10px;
}
/* ----------Style cwiczen --------*/

/* Cwiczenie */

.wybrane-cwiczenie {
  background-color: #2a5e92;
  color: #ecf0f1;
  border: 1px solid #2c3e50;
  border-radius: 4px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wybrane-cwiczenie h2 {
  margin-bottom: 0.5em;
  color: #f3bf12;
}

.wybrane-cwiczenie p {
  margin-bottom: 0.5em;
}

.wybrane-cwiczenie p:first-of-type {
  font-weight: bold;
  color: #ecf0f1;
}

/* Lista cwiczen */

body {
  font-family: 'Arial', sans-serif;
  background-color: #1c2833;
  color: #ecf0f1;
  margin: 0;
  padding: 20px;
}

.cwiczenie-item {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.cwiczenie-item:hover {
  background-color: #34495e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}